@font-face {
  font-family: 'SpecCard Nanum Gothic';
  src: url('assets/fonts/nanum-gothic/NanumGothic.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SpecCard Nanum Gothic';
  src: url('assets/fonts/nanum-gothic/NanumGothicBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
